<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btl_android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_Android">
        <activity android:name=".Controller.CDWarrantiesActivity"></activity>
        <activity android:name=".Controller.CDTaxesActivity" />
        <activity android:name=".Controller.CauTrucActivity" />
        <activity android:name=".Controller.TuLoaiActivity" />
        <activity android:name=".Controller.CDBankingActivity" />
        <activity android:name=".Controller.ChuDeNguPhapActivity" />
        <activity android:name=".Controller.CDContractsActivity" />
        <activity android:name=".Controller.ChuDeTuVungActivity" />
        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>